html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.error-required-characteristic {
  border-radius: 2px;
  border: 2px solid #fa5252;
}

.warning-custom-characteristic-value {
  border-radius: 2px;
  border: 2px solid #f7fa52;
}
